.gallery .wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	padding-top: 12rem;
	text-align: center;
}



.gallery__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	width: 100%;
	max-width: 1200px;
}

.gallery__card {
	overflow: hidden;
	border-radius: 10px;
	aspect-ratio: 3 / 4;
}
.gallery__card img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: transform 0.3s ease;
	image-rendering: auto;
}

@media (max-width: 768px) {
	.gallery__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
.gallery__card img:hover {
	transform: scale(1.1);
}

@media (max-width: 768px) {
	.gallery__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
