.header-social-bar {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0.5rem 0;
    font-size: 2.4rem;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.header-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}