.header {
	border-bottom: 1px solid var(--color-border-primary);
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--color-bg-primary);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__social-bar {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
	font-size: 2rem;
	padding-right: 2rem;
	max-height: 40px;
	transition: max-height 0.3s ease, opacity 0.3s ease;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 2rem;
	min-height: 50px;
	transition: min-height 0.3s ease;
}
.header__nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.header__social-bar.scrolled {
	max-height: 0;
	opacity: 0;
}

.header__nav.scrolled{
	min-height: 60px;
}