.header{
    border-bottom: 1px solid var(--color-border-primary);
}

.header__social-bar {
	display: flex;
	justify-content: flex-end;
	gap: 2rem;;
	font-size: 2rem;
    padding-right: 2rem;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 2rem;
}
.header__nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
