.hero {
	text-align: center;
	background: linear-gradient(135deg, var(--clr-cream-200) 0%, var(--clr-olive-400) 100%);
}

.hero h1,
.hero p {
	text-shadow: 0 2px 5px var(--color-bg-primary-shadow);
	color: var(--color-bg-primary);
	width: 50%;
}

.hero a,
.hero h1,
.hero p {
	z-index: 1;
}

.hero--bg {
	position: relative;
	background-image: url('../../../public/restaurant-big.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero--bg::before {
	content: '';
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.6); /* stopień przyciemnienia */
}

.hero__container {
	height: 100vh;
}

@media (max-width: 770px) {
	.hero h1 {
		font-size: 2.2rem;
		width: 70%;
	}
}
