.menu{
  margin: 12rem  0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}