.menu{
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;  
}

.menu__header {
  text-align: center;
}

.menu__header h2 {
  font-family: var(--ff-header);
  font-size: 3rem;
  color: var(--color-accent-hover);
}
.menu__header p,
.menu__header h2 {
  margin-bottom: 3.5rem;
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  width: 100%;
  max-width: 1200px;
}