.btn  {
  display: inline-block;
  padding: 12px 48px;
  background-color: var(--color-accent-hover );
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 8px 20px rgba(196, 98, 79, 0.3);
}

.btn:hover {
  background-color: var(--color-accent-primary);
  transform: translateY(-5px);
}
.btn-filter {
  background-color: var(--color-bg-primary);
  border: var(--color-border) 2px solid;
  border-radius: 30px;
  color: var(--color-border);
  font-family: var(--ff-body);
  font-weight: 600;
  padding: 8px 20px;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-filter--active {
  background-color: var(--color-accent-primary);
  color: var(--color-bg-primary);
  border: none;
  padding: 10px 22px;
}