.form{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 3rem;
  background-color: white;
  border-radius: 16px;
  margin: 3rem;
  padding: 4.8rem;
  box-shadow: 0 8px 24px rgba(61, 46, 31, 0.1);
  font-family: var(--ff-body);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form-group label{
  font-weight: 600;
  color: var(--color-text-secondary);
}
.form-group input,
.form-group textarea,
.form-group select {
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border: 2px solid var(--clr-cream-200);
  border-radius: 8px;
  transition: border-color 0.3s ease;
}
.error-message {
  color: var(--clr-alert-red);
  font-size: 1.4rem;
  margin-top: 0.4rem;

}
.form button {
  padding: 1.4rem 2.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 700;
}
