.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.bg--secondary{
	background-color: var(--color-bg-secondary);
}

.bg--acc-secondary {
	background-color: var(--color-accent-secondary);
}

.bg--footer {
	background-color: var(--color-accend-thidary);
	color: #fff;
}
