.wrapper {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.section_header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.sh--1 h1 {
	font-size: 5.5rem;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 2rem;
}

.sh--2 h2 {
	font-size: 5rem;
	font-weight: 700;
	color: var(--color-accent-hover);
	margin-bottom: 2rem;
}
.sh--3 h3 {
	font-size: 4rem;
	font-weight: 700;
	color: var(--color-accent-hover);
	margin-bottom: 2rem;
}
.sh--4 h4 {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color-accent-hover);
	margin-bottom: 2rem;
}

.section_header p {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 3.5rem;
}

.bg--secondary {
	background-color: var(--color-bg-secondary);
}

.bg--acc-secondary {
	background-color: var(--color-accent-secondary);
}

.bg--footer {
	background-color: var(--color-accend-thidary);
	color: #fff;
}
