@import './varaibles.css';
@import './reset.css';

@import './base.css';

@import './components/navigation.css';
@import './components/burger.css';
@import './components/button.css';

@import './layout/header.css';
@import './layout/hero.css';

.bg {
	background-color: royalblue;
}
