/* =========================
   MODERN CSS RESET
   ========================= */
/* 1. Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 62.5% z 16px = 10px */
}

/* 2. Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* 3. Improve text rendering */
body {
	min-height: 100vh;
	font-size: 1.6rem; /* 16px */
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	font-family: var(--ff-header);
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
}

/* 4. Media elements */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 5. Forms inherit font */
input,
button,
textarea,
select {
	font: inherit;
}

/* 6. Remove built-in form typography (Safari/iOS fix) */
button,
input,
select,
textarea {
	color: inherit;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}


/* 7. Remove animations for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* 8. Improve focus visibility (a11y) */
:focus-visible {
	outline: 3px solid currentColor;
	outline-offset: 3px;
}

/* 9. Lists */
ul[role='list'],
ol[role='list'] {
	list-style: none;
	padding: 0;
}

/* 10. Anchor defaults */
a {
	text-decoration: none;
	color: inherit;
	font-family: var(--ff-body);
}

p {
	font-family: var(--ff-body);
}
